# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating System
.DS_Store
Thumbs.db

# IDE & Editor
.vscode/
.idea/
*.swp
